* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #eebefa; */
  background-color: #e599f7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1.5em;
  /* border: 2px solid red; */
  border-radius: 10px;
  background-color: #cc5de8;
}

h1 {
  font-weight: 700;
  text-align: center;
}

form {
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  gap: 1em;
}

input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #e599f7;
  border-radius: 5px;
  background-color: #f8f0fc;
  font-family: "Roboto", sans-serif;
}

input:focus {
  outline: none;
}

button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.result__text {
  color: white;
}

@media screen and (max-width: 640px) {
  .container {
    width: 92%;
    padding: 1.5em 0.5em;
  }

  form {
    width: 85%;
  }
}
